In [1]:
# ! pip install SQLAlchemy pymysql

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [3]:
SQL = '''
SELECT
    protocol_id.protocol_id as id,
    stb_mean_color.stb_mean_color as color,
    stb_mean_flex.stb_mean_flex as flex,
    stb_mean_length.stb_mean_length as length,
    stb_mean_tensity.stb_mean_tensity as tensity,
    stb_N.stb_N as N
FROM
    (
    SELECT DISTINCT
        protocol_id
    FROM
        estimation_dtl
) AS protocol_id
LEFT JOIN(
    SELECT
VALUE AS
    stb_mean_color,
    `protocol_id`
FROM
    estimation_dtl
WHERE
    code_name = 'stb_mean_color'
) AS stb_mean_color
ON
    protocol_id.protocol_id = stb_mean_color.protocol_id
LEFT JOIN(
    SELECT
VALUE AS
    stb_mean_flex,
    protocol_id
FROM
    estimation_dtl
WHERE
    code_name = 'stb_mean_flex'
) AS stb_mean_flex
ON
    protocol_id.protocol_id = stb_mean_flex.protocol_id
LEFT JOIN(
    SELECT
VALUE AS
    stb_mean_length,
    protocol_id
FROM
    estimation_dtl
WHERE
    code_name = 'stb_mean_length'
) AS stb_mean_length
ON
    protocol_id.protocol_id = stb_mean_length.protocol_id
LEFT JOIN(
    SELECT
VALUE AS
    stb_mean_tensity,
    protocol_id
FROM
    estimation_dtl
WHERE
    code_name = 'stb_mean_tensity'
) AS stb_mean_tensity
ON
    protocol_id.protocol_id = stb_mean_tensity.protocol_id
LEFT JOIN(
    SELECT
VALUE AS
    stb_N,
    protocol_id
FROM
    estimation_dtl
WHERE
    code_name = 'stb_N'
) AS stb_N
ON
    protocol_id.protocol_id = stb_N.protocol_id;
'''

In [4]:
%%time
df = pd.read_sql(SQL, index_col='id', con=create_engine('mysql+pymysql://root:my_secret_password@db/TexlabDB'))
df.shape

CPU times: user 195 ms, sys: 13.8 ms, total: 209 ms
Wall time: 4.68 s

(10811, 5)

In [5]:
df.head(10)

   color  flex length tensity     N
id
42  None  None   None    None  None
43  None  None   None    None  None
44  None  None   None    None  None
47     4    40     60     168    11
52     3    41     62     233    11
53     4    46     65     241    12
54     4    41     62     257    12
57     3    38     64     216    11
58     3    42     60     248    11
59     3    40     63     254    12

In [6]:
df.to_csv('data.csv')